<h3 class="title">TP CURRENCY PIPE</h3>
<form #monForm=ngForm class="form">
  <div class="form-group">
    <label>Entrez la somme: </label>
    <input type="number" class="form-control" name="somme" require [(ngModel)]=somme placeholder="Entrez une valeur"/>
  </div>
  <div class="form-group">
    <label>Choisir la devise de depart: </label>
    <select name="deviseDepart" class="form-control" [(ngModel)]=deviseDepart>
      <option value="FCFA">FCFA</option>
      <option value="USD">USD</option>
      <option value="EUR">EURO</option>
    </select>
  </div>
  <div class="form-group">
    <label>Choisir la devise de depart: </label>
    <select name="deviseArrive" class="form-control" [(ngModel)]=deviseArrive>
      <option value="FCFA">FCFA</option>
      <option value="USD">USD</option>
      <option value="EUR">EURO</option>
    </select>
  </div>
</form>
<div class="text_reponse">
  {{somme|currencyPipe:deviseDepart:deviseArrive}}
</div>